<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Scientist show</title>
</head>

<body>
    <h1>Sci show page</h1>
    The <%= scientists.name; %> is <%= scientists.description; %>.


            <br /><br />
            <a href="/planets">Back to Index</a>
</body>

</html>